
<!--navbar-->
<div th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/"> <img
			th:src="@{/images/logo.png}" class="logo"
			style="width: 106px; height: 106px; margin-left: 3rem;">
			OpenJob
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">About
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="Location.html">Location</a>
				</li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Services </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
 						<a class="dropdown-item" href="Message.html">Message</a>
						
						<div th:if="${session.currentUser == null or session.currentUser.role == 'ROLE_SHOPPER'}">
						</div>
						<div th:unless="${session.currentUser == null or session.currentUser.role == 'ROLE_SHOPPER'}">
						<div class="dropdown-divider"></div>
						<a  class="dropdown-item" th:href="@{/postjob}">Post a Job</a>
						</div>
						
					</div></li>
				<!-- conditional user not logged in -->
				<li th:if="${session.currentUser == null}" class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Login </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/login}">Login</a> <a
							class="dropdown-item" th:href="@{/register}">Sign up</a>
					</div></li>
				<!-- conditional user is logged in -->
				<li th:unless="${session.currentUser == null}"
					class="nav-item dropdown"><a class="nav-link dropdown-toggle"
					href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
						<th th:text="${session.currentUser.username}"></th>
				</a>
				
				
				
					<div th:unless="${session.currentUser == null}"
						class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/logout}">Logout</a>
						<a
							class="dropdown-item" th:href="@{/register/edit/{id}(id=${session.currentUser.userId})}">Edit Profile</a> <a
							class="dropdown-item" th:href="@{/profile/{userProfileID}(userProfileID = ${session.currentUser.userId})}">Profile</a>
					</div></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Find professionals..." aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
</div>
<!--end of navbar-->