
<div th:fragment="item">
	<div class="col-md-4" th:each="j: ${jobList}">
		<div class="card mb-4 box-shadow">
			<!--carousel-->
			
			
			<div id="slides1" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#slides1" data-slide-to="0" class="active"></li>
					<li data-target="#slides1" data-slide-to="1"></li>
					<li data-target="#slides1" data-slide-to="2"></li>
				</ol>

				<!-- images -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" th:src="@{${'/photos/rose.png'}}"
							alt="First slide">
					</div>

					<div class="carousel-item" th:each="photo: ${photos}">
						<img class="d-block w-100" th:src="@{${'/photos/' + photo.fileName}}"
							alt="Second slide">
					</div>
				</div>
				<!-- end of images -->

				<a class="carousel-control-prev" href="#slides1" role="button"
					data-slide="prev"> <span class="carousel-control-prev-icon"
					aria-hidden="true"></span> <span class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#slides1" role="button"
					data-slide="next"> <span class="carousel-control-next-icon"
					aria-hidden="true"></span> <span class="sr-only">Next</span>
				</a>
			</div>
			<!--end of carousel-->
			<div class="card-body">
				<!-- jobDescription -->
				<tr class="card-text">
					<h3><td th:text="${j.jobName}"></td></h3>
				</tr>
				<br />
				<tr class="card-text">
					<td th:text="${j.jobDescription}"></td>
				</tr>
				<div class="d-flex justify-content-between align-items-center">

					<div class="btn-group">
						<button type="button" class="btn btn-sm btn-primary"
							id="button-color"
							onclick="window.location.href='ContactForm.html';">Message</button>
						<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
					</div>
				</div>
				<br /> <small class="text-muted">created on: <small
					class="text-muted" th:text="${j.creationDate}"></small></small><br /> <small
					class="text-muted">created by: <small class="text-muted"
					th:text="${j.user.username}"></small></small>

			</div>
		</div>
	</div>
</div>